.container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100vw;
  height: 100vh;
  background-color: black;
  min-width: 80vw;
  position: absolute;
  border-radius: 5px;
  overflow-x: none;
  overflow-y: auto;
   */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
  border: 1px solid #413232;
  border-radius: 5px;
  padding: 10px;
  width: 100vw;
  background-color: white;
  /* padding: 1rem; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  position: absolute;
  width: 35rem;
  overflow: scroll;
  height: 130%;
  margin-top: 25%;
  margin-left: 55%;
  margin-bottom: 10%;
}
.form input{
  overflow: scroll;
}
.buttons {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  width: 100%;
}

.pagechange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: You can adjust this to control spacing */
}

.box {
  position: relative;
  top: -100px;
  left: -100px;
  background-color: #d2c1d1;
  padding: 20px;
  /* width: auto; */
  border-radius: 50%;
  scale: 300%;
  z-index: 1;
}
@media screen and (max-width: 1800px) {
  .container {
    width: 80vw;
  }
  p {
    font-size: 1rem;
  }
}
