.patient {
  height: 58rem;
  width: fit-content;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
}
.patientForm {
  font-family: Arial, sans-serif;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: -4rem;
}

form {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
  width: 65rem;
  height: 52rem;
}
.patientForm1 {
  font-family: Arial, sans-serif;
  background-color: transparent;
  /* margin: 1rem 15rem 1rem 0.5rem; */
  padding: 0;
  height: 100vh;
}
.patientForm2 {
  font-family: Arial, sans-serif;
  background-color: transparent;
  margin: 1rem 1rem 1rem 5rem;
  padding: 0;
  height: 100vh;
}
label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  background-color: antiquewhite;
}
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  background-color: antiquewhite;
}
.patient h2 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-bottom: 2rem;
}

#button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 4px;
  cursor: pointer;

  /* margin-left: 35rem; */
}
button {
  background-color: #141414;
  color: #5d5b5b;
  padding: 10px;
  border: none;
  margin-right: 5rem;
}

button:hover {
  background-color: #000000;
  color: #737070;
  border-radius: 4px;
}
