#mainHospital {
    margin-top: 7rem;
    margin-bottom: 3rem;
    margin-left: 23rem;
    padding: 50px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    width: 90rem;
    height: 66rem;
}
#Hospital{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hospitalForm1{
    margin-right: 3rem;
}
#buttonHos{
    border-radius: 3px;
}
#ButtonHos1{
    border-radius: 3px;
    margin-left: 60rem;
}
input{
    width: 30rem;
}