@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./store/backimg.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #2c3e50;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}

::-webkit-scrollbar-corner {
  background-color: #2c3e50;
}
